# Ignore virtual environments & Python caches
.venv/
__pycache__/

# Ignore subtitles
*.srt

# Ignore videos
*.mp4
*.mov
*.avi
*.mkv

# Ignore audio files
*.aac
*.wav
*.mp3

# Ignore secrets
gemini_key.txt

# Ignore editor temp files
*.swp
*.swo
*~

# Ignore cuDNN archive and extracted folder
cudnn-linux-x86_64-8.9.7.29_cuda12-archive.tar.xz
cudnn-linux-x86_64-8.9.7.29_cuda12-archive/